<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>Expense Tracker</title>
  {{! Bootstrap }}
  <link rel='stylesheet' href='https://bootswatch.com/4/litera/bootstrap.min.css' crossorigin='anonymous' />
  {{! Main css }}
  <link rel='stylesheet' href='/stylesheets/main.css' />
  {{! Index css }}
  {{#if indexCSS}}
  <link rel='stylesheet' href='/stylesheets/index.css' />
  {{/if}}
  {{! Form css }}
  {{#if formCSS}}
  <link rel='stylesheet' href='/stylesheets/form.css' />
  {{/if}}
  {{! Font awesome }}
  <script src='https://kit.fontawesome.com/fc38f96ac0.js' crossorigin='anonymous'></script>
</head>

<body>
  <header>
    {{! nav bar }}
    <nav class='navbar navbar-expand-lg navbar-dark mx-3'>
      {{! brand name }}
      <a class='navbar-brand' href='/'>Expense Tracker</a>
      {{! button }}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        {{#if isAuthenticated}}
        <ul class="navbar-nav d-flex align-items-center" style="list-style: none;margin: 0;">
          <li class="nav-item {{#unless type}}active{{/unless}}">
            <a class="nav-link" href="/">Overview <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{#if (eq type 'expense')}}active{{/if}}" href="/records/expense">Expense</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{#if (eq type 'revenue')}}active{{/if}}" href="/records/revenue">Revenue</a>
          </li>
          {{!-- Dropdown avatar --}}
          <div class="dropdown m-3 d-flex justify-content-end">
            <a class=" dropdown-toggle" style="text-decoration: none;" href="#" role="button" id="dropdownMenuLink"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="https://robohash.org/{{user.avatar}}" style="height: 30px;width: 30px;border-radius: 10px;"
                alt="">
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a href='/users/logout' class='dropdown-item' id='loginBtn'>Logout</a>
              <a class="dropdown-item" href="#">Profile</a>
            </div>
          </div>
        </ul>
        {{else}}
        <a href='/users/login' class='btn btn-outline-primary' id='loginBtn'>Login</a>
        {{/if}}
      </div>

    </nav>
  </header>
  <main>
    <div class="row">
      <div class='{{#if home}}col-md-7 col-lg-8 col-xl-9{{else}}col-12{{/if}}' style="background: aliceblue;">
        {{{body}}}
      </div>
      {{#if home}}
      <div class="col-md-5 col-lg-4 col-xl-3 py-5">
        <div style="max-width: 250px; margin: 0 auto; position:sticky; top: 50px;">
          <h5 class="category-title mt-5" style="    margin-left: -15px; font-weight: 600; font-size: 1rem;">Categories
          </h5>
          <div class="category-container mt-5">
            {{#each categoryList}}
            {{#if (eq this.type 'expense')}}
            <div class="category row mb-4">
              <div class="category-icon col-2 d-flex justify-content-center"
                style="background: #4ccfe6;padding: 15px;border-radius: 10px; max-width: 50px;">
                <i class="{{ this.icon }} fa-lg record-icon" style="color: white;"></i>
              </div>
              <div class="category-info col-10 row d-flex align-items-center">
                <div class="col-8" style="font-weight: 500;">{{ this.name }}</div>
                <div class="col-4">${{ this.amount }}</div>
              </div>
            </div>
            {{/if}}
            {{/each}}
          </div>
        </div>
      </div>
      {{/if}}
    </div>


  </main>

  {{!-- Data for Chart --}}
  {{#if chart}}
  <span id="category-amount" style="display:none;" data-category="{{categoryAmount}}"></span>
  <span id="category-name" style="display:none;" data-category="{{categoryName}}"></span>
  <span id="month" style="display:none;" data-category="{{groupByMonth}}"></span>
  <span id="month-amount" style="display:none;" data-category="{{amountByMonth}}"></span>
  {{/if}}

  {{! Bootstrap }}
  <script src='https://code.jquery.com/jquery-3.5.1.slim.min.js'
    integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj'
    crossorigin='anonymous'></script>
  <script src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js'
    integrity='sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns'
    crossorigin='anonymous'></script>
  {{! javascripts }}
  <script src='/javascripts/utility.js'></script>
  {{! chart }}
  {{#if chart}}
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.1/chart.min.js'></script>
  <script src="/javascripts/chart.js"></script>
  {{/if}}
</body>

</html>