{{!-- Filter  --}}
<div class="mt-4">
  <form action="/records" class="input-group" onchange="submit();">
    {{!-- Date --}}
    <input type="month" class="form-control" id="date" name="date" min="2018-03" value="{{date}}" >
    {{!-- Category --}}
    <select class="custom-select" name="category" >
        <option value="" selected>All</option>

        {{#each categoryList}}
          <option value="{{ this.name }}" {{#if (eq this.tempCategory this.name)}}selected{{/if}}>{{ this.name }}</option>
        {{/each}}
      
    </select>
       
  </form>
</div>


{{!-- Tototal amount --}}
<div class="mt-4 row">
  <div class="col-md-3">Total amount:</div>
  <div class="col-md-9 text-info" style="font-size: 5rem;">{{ totalAmount }}</div>
</div>

{{!-- Render list --}}
{{#each records}}
  <div class="row flex-md-nowrap py-2 record">
    {{!-- Icon --}}
    <div class="col-2 d-flex justify-content-center align-items-center">
      <i class="{{ this.categoryIcon }} fa-2x" style="
    color: #1dc5e0cf"></i>
    </div>
    {{!-- Name & date --}}
    <div class="col-3 pl-3">
      <h5 style="margin-bottom: 0;">{{ this.name }}</h5>
      <small>{{ this.date }}</small>
    </div>
    {{!-- Amount --}}
    <div class="col-4 d-flex align-items-center justify-content-end" style="font-weight: 400;font-size: 1.2rem;">
      {{ this.amount }}
    </div>
    {{!-- Buttons --}}
    <div class="col-3 d-flex justify-content-center align-items-center">
      <a  href="/records/{{ this._id }}/edit" class="mr-2"><i class="fas fa-edit icon-edit"></i></a>
      <form method="POST" action="/records/{{ this._id }}?_method=DELETE" style="display: inline;">
        <button type="submit" style="border: none;background-color: transparent;"><i class="fas fa-trash-alt icon-delete"></i></button>
      </form>
    </div>
  </div>
  {{/each}}
  <div class="my-4 d-flex justify-content-center">
    <a class="btn btn-info" href="/records/new">Add Expense</a>
  </div>
