<div class="row py-5">
  <div class="col-md-11 mx-auto">

    {{#if beginner}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      You don't have any record in this month yet. Try to <a href="/records/new?type=expense">add expense</a> or
      <a href="/records/new?type=revenue">add revenue</a> now or choose another month to filter!
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {{/if}}

    {{#if noFilterResult}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      No result found for the selected {{selectedDate}} {{selectedCategory}}. Try to use other month or category filter.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {{/if}}

    {{!-- Filter --}}
    <div class="mt-4">
      <form action="/records" class="input-group row" onchange="submit();">

        {{!-- Date --}}
        <div class="col-sm-6 mb-3">
          <select class="custom-select ml-2" name="date">
            <option value="all">All Months</option>
            {{#each monthOfYearSet}}
            <option value="{{ this }}" {{#if (eq ../filterDate this)}}selected{{/if}}>{{ this }}</option>
            {{/each}}
          </select>
        </div>

        {{!-- Category --}}
        <div class="col-sm-6">
          <select class="custom-select ml-2" name="category">
            <option value="" selected>All Categories</option>

            {{#each categoryList}}
            {{#if (eq this.type 'expense')}}
            <option value="{{ this.name }}" {{#if (eq ../selectedCategory this.name)}}selected{{/if}}>{{ this.name }}
            </option>
            {{/if}}
            {{/each}}

          </select>
        </div>

      </form>
    </div>

    {{!-- Charts --}}
    {{#if home}}
    <div class="mt-4 mb-5 mx-2 row"
      style="background: white;border-radius: 10px;box-shadow: 3px 4px 5px 0px #05119a14;">
      <div class="col-lg-7 d-flex flex-column justify-content-around">

        <div class="amount-container row justify-content-center">

          <div class="expense-container col-12 col-sm-3 col-lg-4 my-2 pt-4 row justify-content-center">

            <div class="pb-3 pt-4 col-auto col-sm-12 d-flex flex-column justify-content-center align-items-center">
              <span style="background: white;box-shadow: 0px 4px 4px 1px #a8bfd25c;border-radius: 50%;" class="p-2">
                <i class="fas fa-comment-dollar fa-lg" style="color: #ff4800ed;"></i>
              </span>
            </div>
            <div class="col-auto col-sm-12 d-flex flex-column justify-content-center align-items-center">
              <div class="d-flex align-items-center">
                <i class="fas fa-dollar-sign fa-xs mr-1 "></i>
                <span style="font-weight: 500;">{{ totalExpense }}</span>
              </div>
              <div>
                <span style="font-size: 0.9rem;font-weight: 500; color: #e84200ed;">
                  Expenses
                </span>
              </div>
            </div>

          </div>
          <div class="balance-container col-12 col-sm-3 col-lg-4 my-2 pt-4 row justify-content-center">

            <div class="pb-3 pt-4 col-auto col-sm-12 d-flex flex-column justify-content-center align-items-center">
              <span style="background: white;box-shadow: 0px 4px 4px 1px #a8bfd25c;border-radius: 50%;" class="p-2">
                <i class="fas fa-comment-dollar fa-lg" style="color: #3877e4;"></i>
              </span>
            </div>
            <div class="col-auto col-sm-12 d-flex flex-column justify-content-center align-items-center">
              <div class="d-flex align-items-center">
                <i class="fas fa-dollar-sign fa-xs mr-1"></i>
                <span style="font-weight: 500;">{{ totalAmount }}</span>
              </div>
              <div>
                <span style="font-size: 0.9rem;font-weight: 500; color: #3877e4">
                  Balance
                </span>
              </div>
            </div>

          </div>
          <div class="revenue-container col-12 col-sm-3 col-lg-4 my-2 pt-4 row justify-content-center">

            <div class="pb-3 pt-4 col-auto col-sm-12 d-flex flex-column justify-content-center align-items-center">
              <span style="background: white;box-shadow: 0px 4px 4px 1px #a8bfd25c;border-radius: 50%;" class="p-2">
                <i class="fas fa-comment-dollar fa-lg" style="color: #03bf7a"></i>
              </span>
            </div>
            <div class="col-auto col-sm-12 d-flex flex-column justify-content-center align-items-center">
              <div class="d-flex align-items-center">
                <i class="fas fa-dollar-sign fa-xs mr-1"></i>
                <span style="font-weight: 500;">{{ totalRevenue }}</span>
              </div>
              <div>
                <span style="font-size: 0.9rem;font-weight: 500; color: #03bf7a">
                  Revenues
                </span>
              </div>
            </div>

          </div>
        </div>
        <div class="chart-category m-3">
          <div class="chart" style="max-width: 550px;margin: 0 auto; max-height: 100px;">
            <canvas id="myCategory" width="300" height="300"></canvas>
          </div>
        </div>

      </div>
      <div class="col-lg-5">


        <div class="chart-container p-2" style="max-width: 350px; margin: 0 auto; position:relative;">

          <div class="pt-4">
            <div class="chart-name" style="position: absolute; top: 30px;">
              <h5 style="font-weight: 500;">{{#if (eq selectedDate 'all')}}Category{{else}}{{#if
                selectedCategory}}Category{{else}}Budget{{/if}}{{/if}}</h2>

            </div>
            {{#if (eq selectedDate 'all')}}
            <div class="pt-5">
              <canvas id="myChart" width="300" height="300"></canvas>
            </div>
            {{else}}
            {{#if selectedCategory}}
            <div class="pt-5">
              <canvas id="myChart" width="300" height="300"></canvas>
            </div>
            {{else}}
            <div class="p-4 pt-5">
              <canvas id="myBudget" width="200" height="200"></canvas>
            </div>
            <div class="budget-data-container d-flex justify-content-between">
              {{!-- Monthly Limit --}}
              <div class="budget-container pe-2 pb-3 d-flex flex-column align-items-center">
                <h6 style="font-size: 1rem; font-weight: 600">Monthly Limit</h6>
                <div class="d-flex justify-content-center">
                  <div>
                    <span>${{formattedBudget}}</span>
                  </div>
                  <!-- Button trigger modal -->
                  <div class="d-flex align-items-center">
                    <button type="button" style="background: transparent;border: none;" data-toggle="modal"
                      data-target="#exampleModal">
                      <i class="fas fa-edit icon-edit" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit budget</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form action="/users/budget?_method=PUT" method="POST">
                          <div class="form-group">
                            <input type="number" class="form-control" name="budget" value="{{budget}}" min="1"
                              id="exampleInputBudget1">
                          </div>
                          <div class="modal-footer">
                            <button type="submit" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              {{!-- Remaining --}}
              <div class="remaining-container px-2 pb-3 d-flex flex-column align-items-center">
                <h6 style="font-size: 1rem; font-weight: 600">Remaining</h6>
                <span>${{remaining}}</span>

              </div>

            </div>
            {{/if}}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
    {{/if}}

    {{!-- Record count --}}
    <div class="mx-2 mb-3 d-flex justify-content-end">
      <small style="font-weight:500">Found {{totalRecords}} records</small>
    </div>

    {{!-- Render list --}}
    <div class="mx-2">
      {{#each records}}
      <div class="row flex-md-nowrap py-2 record" style="margin: 0;">
        {{!-- Icon --}}
        <div class="col-2 d-flex justify-content-center align-items-center">
          <i class="{{ this.category.icon }} fa-2x record-icon" {{#if (eq this.type 'revenue' )}}style="color: #03bf7a;"
            {{/if}}></i>
        </div>
        {{!-- Name & date --}}
        <div class="col-3 pl-3">
          <h5 class="record-name">{{ this.name }}</h5>
          <small>{{ this.date }}</small>
        </div>
        {{!-- Amount --}}
        <div class="col-4 d-flex align-items-center justify-content-end">
          <div class="d-flex flex-column align-items-end">
            <h5 class="record-amount">${{#if (eq this.type 'expense')}}-{{/if}}{{ this.amount }}</h5>
            <small class="text-muted">{{this.merchant}}</small>
          </div>

        </div>

        {{!-- Buttons --}}
        <div class="col-3 d-flex justify-content-center align-items-center">
          <a href="/records/{{ this._id }}/edit?type={{this.type}}" class="mr-2"><i
              class="fas fa-edit icon-edit"></i></a>
          <form method="POST" action="/records/{{ this._id }}?_method=DELETE" class="record-delete"
            onsubmit="return checkDelete()" style="margin: 0;">
            <button type="submit" class="record-deleteBtn"><i class="fas fa-trash-alt icon-delete"></i></button>
          </form>
        </div>
      </div>
      {{/each}}
    </div>

    {{#if records.length}}
    {{!-- Pagination --}}
    <div id="pagination" class="d-flex justify-content-center mt-4">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item {{#if (eq pageNumber prev)}}disabled{{/if}}">
            <a class="page-link" href="/records?page={{prev}}&date={{selectedDate}}&category={{selectedCategory}}"
              aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {{#each totalPage}}
          {{#if (eq this ../pageNumber)}}
          <li class="page-item active"><a class="page-link" href="#">{{this}}</a></li>
          {{else}}
          <li class="page-item"><a class="page-link"
              href="/records?page={{this}}&date={{../selectedDate}}&category={{../selectedCategory}}">{{this}}</a></li>
          {{/if}}
          {{/each}}
          <li class="page-item {{#if (eq pageNumber next)}}disabled{{/if}}">
            <a class="page-link" href="/records?page={{next}}&date={{selectedDate}}&category={{selectedCategory}}"
              aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    {{/if}}

  </div>
</div>