{{!-- Sort --}}
<div class="mt-4">
  <form action="/records" class="input-group">
    <select class="custom-select" name="filter">
        <option value="" selected>All</option>
      
        <option value="家居物業" {{#if (eq filter '家居物業')}}selected{{/if}}>家居物業</option>
        <option value="交通出行" {{#if (eq filter '交通出行')}}selected{{/if}}>交通出行</option>
        <option value="休閒娛樂" {{#if (eq filter '休閒娛樂')}}selected{{/if}}>休閒娛樂</option>
        <option value="餐飲食品" {{#if (eq filter '餐飲食品')}}selected{{/if}}>餐飲食品</option>
        <option value="其他" {{#if (eq filter '其他')}}selected{{/if}}>其他</option>
      
    </select>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit">Filter</button>
    </div>
  </form>
</div>


{{!-- Tototal amount --}}
<div class="mt-4 row">
  <div class="col-md-3">Total amount:</div>
  <div class="col-md-9 text-info" style="font-size: 5rem;">{{ totalAmount }}</div>
</div>

{{!-- Render list --}}
<ul class="list-group mt-2">
  {{#each records}}
    <li class="list-group-item bg-light">

      <div class="row">

        <div class="col-8 row">
          
          <div class="col-2 d-flex justify-content-center"><i class="{{ this.categoryIcon }} fa-3x" style="
    color: #1dc5e0cf"></i></div>
          <div class="col-7 pl-3">
            <h5 style="margin-bottom: 0;">{{ this.name }}</h5>
            <small>{{ this.date }}</small>
          </div>
          
          <div class="col-3 d-flex align-items-center justify-content-end" style="font-weight: 400;font-size: 1.2rem;">{{ this.amount }}</div>

        </div>
        {{!-- Buttons --}}
        <div class="col-4 d-flex justify-content-end align-items-center" style="
    padding-right: 0;">
          <a class="btn btn-outline-success mr-2" href="/records/{{ this._id }}/edit">Edit</a>
          <form method="POST" action="/records/{{ this._id }}?_method=DELETE" style="display: inline;">
            <button class="btn btn-outline-danger" type="submit">Delete</button>
          </form>
        </div>

      </div>
      
    </li>
  {{/each}}

  {{!-- Add Btn --}}
  <div class="mt-5 d-flex justify-content-center">
    <a class="btn btn-info" href="/records/new">Add Expense</a>
  </div>
</ul>
