<a href="/records/new">Create</a>

{{!-- Sort --}}
<div>
  <form action="/records">
    <select name="filter">
      {{#each categoryList}}
        <option value="{{ this.name }}">{{ this.name }}</option>
      {{/each}}
    </select>
    <button type="submit">Sort</button>
  </form>
</div>


{{!-- Tototal amount --}}
<div>
  Total amount: <h1>{{ totalAmount }}</h1>
</div>
{{!-- Render list --}}
<ul>
  {{#each records}}
    <li>
      {{ this.name }}
      <a href="/records/{{ this._id }}/edit">Edit</a>
      <form method="POST" action="/records/{{ this._id }}?_method=DELETE" style="display: inline;">
        <button type="submit">Delete</button>
      </form>
    </li>
  {{/each}}
</ul>
