<div class="row py-5">
  <div class="col-12 col-lg-10 col-xl-8 mx-auto form-container">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><i class="fas fa-plus-circle"></i> Add {{type}}</h5>
        <hr>

        <form class="row g-3" action="/records" method="POST">
          {{!-- Name --}}
          <div class="col-md-12 row mb-3 ml-1 mr-4">
            <label for="name" class="col-md-4 col-form-label">Name<span class="field-required">*</span> </label>
            <input type="text" name="name" class="form-control col-md-8" id="name" value="{{ record.name }}" required
              maxlength="15">
          </div>
          {{!-- Date --}}
          <div class="col-md-12 row mb-3 ml-1 mr-4">
            <label for="date" class="col-md-4 col-form-label">Date<span class="field-required">*</span></label>
            <input type="date" name="date" class="form-control col-md-8 form-date" id="date" value="{{ record.date }}"
              required>
          </div>
          {{!-- Category --}}
          <div class="col-md-12 row mb-3 ml-1 mr-4" {{#if (eq this.type 'expense' )}}{{else}}style="display: none;"
            {{/if}}>
            <label for="category" class="col-md-4 col-form-label">Category<span class="field-required">*</span></label>
            <select class="custom-select col-md-8" name="categoryId" id="category">
              {{#each categoryList}}
              {{#if (eq this.type ../type)}}
              <option value="{{ this._id }}">{{ this.name }}</option>
              {{/if}}
              {{/each}}
            </select>
          </div>
          {{#if (eq type 'expense')}}
          {{!-- Merchant --}}
          <div class="col-md-12 row mb-3 ml-1 mr-4">
            <label for="merchant" class="col-md-4 col-form-label">Merchant</label>
            <input type="text" name="merchant" class="form-control col-md-8" id="merchant"
              value="{{ record.merchant }}">
          </div>
          {{/if}}
          {{!-- Amount --}}
          <div class="col-md-12 row mb-3 ml-1 mr-4">
            <label for="amount" class="col-md-4 col-form-label">Amount<span class="field-required">*</span></label>
            <input type="number" name="amount" class="form-control col-md-8" id="amount" value="{{ record.amount }}"
              required min="1" max="999999">
          </div>
          {{!-- type --}}
          <input type="text" name="type" class="form-control col-md-8" value="{{type}}" style="display: none;">
          {{!-- Button --}}
          <div class="col-md-12 d-flex justify-content-end mr-4">
            <button class="btn btn-success" type="submit">Create</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>